.venv/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
.env
data/donnees-brutes/*
data/interim/*
data/donnees-preparees/*

!data/donnees-brutes/.gitkeep
!data/interim/.gitkeep
!data/donnees-preparees/.gitkeep
